$primary-standard: #f5f5f7;
$primary-light: #fafafb;
$primary-dark: #181d29;
$primary-white: #ffffff;

$secondary-standard: #58c06b;
$secondary-light: #e5f5e7;
$secondary-dark: #6b9070;

$tertiary-dark: #a4b105;
$tertiary-standard: #edc74c;
$tertiary-light: #fff5d1;

$text-100: #181d29;
$text-80: #464154;
$text-60: #74777f;
$text-40: #a3a5a9;
$text-10: #e1e1e4;

/* Media view port*/
$max-mobile-viewport: 479px;
